#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.resume-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.personal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  white-space: nowrap;
  overflow: hidden;
}

.personal > * {
  text-align: center;
}

.personal > h1 {
  grid-column: 1 / 6;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education > h2 {
  grid-column: 1 / 3;
}

.education-info {
  display: flex;
  gap: 30px;
}

.education-info > div > p {
  text-align: left;
  margin: 0;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experience > h2 {
  grid-column: 1 / 3;
}

.experience-info {
  display: flex;
  gap: 30px;
}

.experience-info > div > * {
  text-align: left;
  margin: 0;
}
